body, h1, h2, h4, p, ul, ol, li {
 margin: 0;
 padding: 0;
}

body {
 font-family: Arial, Helvetica, sans-serif;
 background-color: #ffe5ec;
 color: #333;
 line-height: 1.6;
}

header {
 background-color: #ffc8dd;
 color: #880d1e;
 text-align: center;
 padding: 20px;
}

header h1 {
 margin-bottom: 10px;
}

nav {
 background-color: #880d1e;
 display: flex;
 justify-content: center;
 align-items: center;
}

nav ul {
 list-style: none;
 width: 1300px;
 padding: 1rem;
}

nav ul li {
 display: inline-block;
 margin: 0 10px;
 background-color: #ff9cb5;
 padding: 5px 10px;
 border-radius: 10px;
}

nav ul li a {
 color: #250902;
 text-decoration: none;
 font-weight: bold;
}

nav ul li:hover {
 background-color: #ffb7c9;
 transform: scale(1.03);
 transition: all 0.5s;
}


section {
 background-color: #f49cbb;
 max-width: 800px;
 margin: 50px auto;
 padding: 20px;
 border-radius: 5px;
}


section h2 {
 color: #1e293b;
}

section p {
 margin-bottom: 15px;
}


section ul,
section ol {
 margin-left: 20px;
 margin-bottom: 15px;
}

section ul li,
section ol li {
 margin-bottom: 10px;
}


section h4 {
 margin-bottom: 10px;
 color: #1e293b;
}


footer {
 background-color: #600308;
 color: white;
 text-align: center;
 padding: 10px;
 font-size: 0.85rem;
}
